<%#
  This file is a part of RedmineX UX Upgrade plugin
  for Redmine

  Copyright 2020-2022 RedmineX. All Rights Reserved.
  https://www.redmine-x.com

  Licensed under GPL v2 (http://www.gnu.org/licenses/gpl-2.0.html)
  Created by Ondřej Svejkovský
%>

<h2><%=l(:label_news)%></h2>

<%= labelled_form_for @news, :html => { :id => 'news-form', :multipart => true, :method => :put } do |f| %>
<%= render :partial => 'form', :locals => { :f => f } %>
  <div class="projectino-controls">
    <%= submit_tag l(:button_save) %>
  </div>
<% end %>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'scm' %>
<% end %>
