<%#
  This file is a part of RedmineX UX Upgrade plugin
  for Redmine

  Copyright 2020-2022 RedmineX. All Rights Reserved.
  https://www.redmine-x.com

  Licensed under GPL v2 (http://www.gnu.org/licenses/gpl-2.0.html)
  Created by Ondřej Svejkovský
%>

<h2><%= l(:label_query_new) %></h2>

<%= form_tag(@project ? project_queries_path(@project) : queries_path, :id => "query-form") do %>
  <%= hidden_field_tag 'type', @query.class.name %>
  <%= render :partial => 'form', :locals => {:query => @query} %>
  <div class="projectino-controls">
    <%= submit_tag l(:button_save) %>
  </div>
<% end %>
